<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
    <link rel="stylesheet" href="/css/role.css">
    <link rel="icon" type="image/png" href="/images/title_icon.png" sizes="32x32">
</head>
<body>

<div class="scene">
    <div id="roleCard" class="card">
        <div class="container">
            <h2>Select Your Role</h2>

            <div class="role-buttons">
                <button onclick="goTeacher()">Teacher</button>
                <button onclick="goStudent()">Student</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/role.js"></script>
</body>
</html>
